<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Página 3/17</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <div class="comic-grid">
  <div class="fila fila1">
    <img src="assets/comics/pagina3/vineta1.jpg" class="vineta v1" />
  </div>
  <div class="fila fila2">
    <img src="assets/comics/pagina3/vineta2.jpg" class="vineta v2" />
    <img src="assets/comics/pagina3/vineta3.jpg" class="vineta v3" />
  </div>
  <div class="fila fila3">
    <img src="assets/comics/pagina3/vineta4.jpg" class="vineta v4" />
    
  </div>
</div>

<app-navigation-buttons prevPage="/tabs/tab3" nextPage="/tabs/tab5"></app-navigation-buttons>
</ion-content>
  
  