<ion-header [translucent]="true">
  <ion-toolbar>
    <img (click)="irATab1()" style="width: 10%; display: flex; justify-content: center;" src="../../assets/Imagenes/BotonRetroceder.png" alt="">
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="contenido-centrado">
    <p>Este Botón se utiliza para navegar a la página anterior.</p>
    <img src="../../assets/Imagenes/BotonRetroceder.png" alt="" style="width: 30%;">

    <p>Esto te indica la página del comic en la que estas actualmente.</p>
    <img src="../../assets/Imagenes/pagina.png" alt="" style="width: 30%;">
    
    <p>Este Botón se utiliza para navegar a la página siguiente.</p>
    <img src="../../assets/Imagenes/BotonAvanzar.png" alt="" style="width: 30%;">
    
    <p>Próximamente se añadirán nuevas formas de interacción.</p>
  </div>
</ion-content>



