<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Página 5/16</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <div class="comic-grid" #comicGrid>
  <div class="fila fila1">
    <img src="assets/comics/pagina5/vineta1.jpg" class="vineta v1" (click)="toggleImageSize($event); playSound('classroom-sounds.mp3')" />
    <img src="assets/comics/pagina5/vineta2.jpg" class="vineta v2" (click)="toggleImageSize($event); playSound('heartbeat-sound-effect.mp3')" />
  </div>
  <div class="fila fila2">
    
    <img src="assets/comics/pagina5/vineta3.jpg" class="vineta v3" (click)="toggleImageSize($event); playSound('Swish.mp3')"/>
  </div>
  <div class="fila fila3">
    <img src="assets/comics/pagina5/vineta4.jpg" class="vineta v4" (click)="toggleImageSize($event); playSound('ambient-fantasy.mp3')"/>
    
  </div>
</div>

<app-navigation-buttons prevPage="/tabs/tab5" nextPage="/tabs/tab7"
[currentPage]="5" [totalPages]="16"></app-navigation-buttons>
<app-zoom-image [zoomedImgSrc]="zoomedImgSrc" [closeZoomCallback]="closeZoom.bind(this)"></app-zoom-image>

</ion-content>
  
  