:root {
    --ion-page-transition: none;
    --ion-page-transition-duration: 0ms;
  }  
.footer-buttons {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px; /* M치s espacio entre los botones */
  }
  
  .nav-button {
    width: 120px; /* Tama침o del bot칩n */
    height: 50px;
    border-radius: 50%;
    background-size: 120%; /* Hace que la imagen ocupe el 70% del bot칩n */
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }
  
  .next {
    background-image: url('/assets/Imagenes/Siguiente.png'); /* Imagen de siguiente */
  }
  
  .prev {
    background-image: url('/assets/Imagenes/Anterior.png'); /* Imagen de anterior */
  }
  
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
